<div class="bd">
  <div class="wrapper">
    <h1>Todo App</h1>
    <br>
  <div class="inputfld">
    <input type="text" placeholder="Enter New Task" #task>
  <button (click)="addTask(task.value)">Add Task</button>
  </div>
  <br>

  <h3>Task List</h3>
  <br>
  <ul class="todoList" *ngFor="let item of list">
    <li><p>{{item.name}}</p><button (click)="deleteTask(item.id)">Delete</button></li>
  </ul>
  <br>
  <div class="foter">
    <button class="clear" (click)="clearTasks()">clear All</button>
  </div>

  </div>
</div>
